/* HTML5 Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #24f118; }
a:hover { color: #8ef888; }

/**
 *
 * CSS3 styles here
 *
 */

.box_round
{
     -moz-border-radius: 10px; /* FF1+ */
  -webkit-border-radius: 10px; /* Saf3-4, iOS 1+, Android 1.5+ */
          border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
          
  /* useful if you don't want a bg color from leaking outside the border: */        
  /*-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; */
  
}

.box_shadow
{
     -moz-box-shadow: 0px 10px 40px #7E7E7E; /* FF3.5+ */
  -webkit-box-shadow: 0px 10px 40px #7E7E7E; /* Saf3.0+, Chrome */
          box-shadow: 0px 10px 40px #7E7E7E; /* Opera 10.5, IE9, Chrome 10+ */
}

.box_gradient
{
  background-color: #4479A4;
  background-position: fixed;
  background-image: -moz-linear-gradient(top, #4479A4, #256085); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #4479A4, #256085); /* IE10 */
  background-image: -o-linear-gradient(top, #4479A4, #256085); /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4479A4), to(#256085)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #4479A4, #256085); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #4479A4, #256085);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4479A4', EndColorStr='#256085'); /* IE6–IE9 */
}


.box_rgba
{
  background-color: transparent;
  background-color: rgba(180, 180, 144, 0.6);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99B4B490,endColorstr=#99B4B490);
            zoom: 1;
}


.box_rotate
{
     -moz-transform: rotate(-7.5deg);  /* FF3.5+ */
       -o-transform: rotate(-7.5deg);  /* Opera 10.5 */ 
  -webkit-transform: rotate(-7.5deg);  /* Saf3.1+, Chrome */
      -ms-transform: rotate(-7.5deg);  /* IE9 */
          transform: rotate(-7.5deg);  
             filter: progid:DXImageTransform.Microsoft.Matrix( /* IE6–IE9 */
                     M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
               zoom: 1.5;
}


.box_transition
{
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
      -ms-transition: all 0.3s ease-out;  /* IE10? */
          transition: all 0.3s ease-out;  
}


.box_textshadow
{
     text-shadow: 1px 1px 3px #888; /* FF3.5+, Opera 9+, Saf1+, Chrome */
}

.box_bgsize
{
     -moz-background-size: 100% 100%; /* FF3.6 */
  -webkit-background-size: 100% 100%; /* Saf3-4 */
          background-size: 100% 100%; /* Opera, IE9, Saf5, Chrome, FF4 */
}


@font-face
{
    font-family: 'Ubuntu';
    src: url('http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold');
}


/**
 * Primary styles
 *
 * Author: Arttu Erkkilä, Niko Heikkilä, Timo Levänen
 */


body
{
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 13pt;
    background-color: #4479A4;
}


#container
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: solid 5px #2C2C2C;
    width: 960px;
    background-color: #EDEDED;
}

#header
{
    opacity: 0.9;
    padding-top: 5px;
    padding-left: 5px;
    height: 250px;
    background-color: #256085;
}

#header a
{
    text-decoration: none;
    color: #000;
}

.description
{
    font-size: 1.2em;
    font-style: italic;
    color: #24f118;
}

#header_left { float: left; margin: 35px auto auto 25px; font-weight: bold; }
#header_right { float: right; margin: 15px 30px 0 0; font-weight: bold; }

#menu
{
    opacity: 0.9;
    margin: 0px;
    padding: 10px 10px;
    color: #888;
    background-color: #222;
}

#menu a {
      margin-left: 20px;
      font-weight: bold;
      font-family: arial;
      text-transform:uppercase;
      text-decoration: none;
      color: #AAA;
}

#menu a:hover {
      text-decoration: none;
      color: green;
}


/**     Otsikon Lomakkeet   **/

#header_right input
{
    font-size: 0.8em;
    padding: 3px;
    margin: 8px;
    display: block;
}


/**     Sisältö             **/

#content
{
    background-color: #EDEDED;
    padding: auto 50px auto 50px;
}



.clear
{
    clear: both;
}

.imagebox
{
    display: block;
    float: left;
    margin: 10px;
    width: 240px;
    height: 240px;
    border: 2px solid #ACAFAF;
    background-image: url(box.png);
    -webkit-box-shadow: 5px 5px 5px #888888; /* Safari */
    box-shadow: 5px 5px 5px #888888;
}


.pic
{    
    padding: 20px;
	width: 180px;
	height: 180px;
	overflow: hidden;
    display: block;
}

#footer
{
    color: #CCC;
    padding: 15px 10px 5px 10px;
    border-top: 2px solid #1C1C1C;
    border-bottom: 2px solid #1C1C1C;
    background-color: #256085;
}

#footer p
{
    text-align: center;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 0.9em;
    margin-top: 10px;
}


/** End of custom styles **/

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
